 <div class="container sign_in">
   <div class="sign_up-visual">
     <div class="row">
       <div class=" sign_up-body col-xs-12 col-sm-12 col-md-12">

         <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
         <%= render "devise/shared/error_messages", resource: resource %>

         <div class="field">
           <%= f.label :名前 %> <br />
           <%= f.text_field :name, autofocus: true, maxlength: "16" %>
         </div>

         <div class="field">
           <%= f.label :ニックネーム %> <br />
           <%= f.text_field :nickname, autofocus: true, maxlength: "20" %>
         </div>

         <div class="field">
           <%= f.label :Eメール %><br />
           <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
         </div>

         <div class="field">
            <%= f.label :性別 %><br />
            <%= f.select 'gender', [["女性","1"], ["男性","2"], ["不明","3"], ["秘密","4"]],:selected=>"1" %>
         </div>

         <div class="field">
           <%= f.label :年齢 %><br />
           <%= f.select 'age', [["10代","1"], ["20代前半","2"], ["20代後半","3"], ["30代前半","4"],["30代後半","1"], ["40代前半","2"], ["40代後半","3"], ["50代前半","4"],["50代後半","1"], ["60代前半","2"], ["60代後半","3"], ["70代以上","4"]],:selected=>"1" %>
         </div>

         <div class="field">
           <%= f.label :パスワード %>
           <% if @minimum_password_length %>
           (<%= @minimum_password_length %> 文字以上)
           <% end %><br />
           <%= f.password_field :password, autocomplete: "new-password" %>
         </div>

         <div class="field">
           <%= f.label :パスワード確認用 %><br />
           <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
         </div>

         <div class="actions">
           <%= f.submit "新規登録" ,class: "btn btn-primary" %>
         </div>
         <% end %>
         <div class="guest">
           <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "btn btn-danger" %>
         </div>
       </div>
     </div>
   </div>
 </div>