<div class="container ranking">
	<div class="row">
	<% if (chocolate.total_taste && chocolate.total_healthy && chocolate.total_cost_performance).nil? %>
	  <div class="blank"></div>
	<% else %>
		<div class="kutikomi-ranking col-xs-12 col-md-12 col-sm-12">
			<div class="row">
			  <div class="col-xs-12 col-md-12 col-sm-12">
			    <div class="sougou">
					  <p> 口コミ総合評価 </p>
					</div>
			<div class="row">
				<div class="heikin col-xs-3 col-sm-3 col-md-3">	  
					<div>
						<h3 class="average ave">おいしさ平均値</h3>
					</div>
					<div>
						<h3 class="average ave">健康度平均値</h3>
					</div>
					<div>
						<h3 class="average ave">コスパ平均値</h3>
					</div>
				</div>

				<div class="heikin col-xs-2 col-sm-2 col-md-2">
					<div class="average value">
						<h3><%= chocolate.total_taste %>点</h3>
					</div>
					<div class="average">
						<h3><%= chocolate.total_healthy %>点</h3>
					</div>
					<div class="average">
						<h3><%= chocolate.total_cost_performance %>点</h3>
					</div>
				</div>

				<div class=" comment-chart col-xs-7 col-sm-7 col-md-7">
					<div class="sougou">
						<canvas height="200px" id="myChart" class="myChart_comment"></canvas>
					  <script>
							var ctx = document.getElementById("myChart");
							var myChart = new Chart(ctx, {
								type: 'radar',
								data: {
									labels: ["おいしさ", "コストパフォーマンス","健康"],
									datasets: [{
										label: '項目別評価',
										backgroundColor: "rgba(115,78,48,0.7)",
										borderColor: "rgba(7b,4b,29,1)",
                    data: [<%= chocolate.total_taste %>, <%= chocolate.total_cost_performance %>, <%= chocolate.total_healthy %> ]
									}]
								},
								options: {
									responsive: true,
									scale: {
										ticks: {
											max: 5,
											min: 0
										}
									}
								}
							});
						</script>
					</div>
				</div>
			</div>
			</div>
		</div>
		</div>
    <div class="comment-count">
      <a class="comment-count"><span id="comment_count"> <%= chocolate.comments.count %></span>件コメント</a>
    </div>	
	</div>
	<% end %>
</div>