<%= form_for (comment), remote: true do |f| %>
	<div class="container">
   <div class="row">
      <%= render 'layouts/error_messages', model: f.object %>
			<div class="col-sm-12 col-xs-12 col-md-12">
			    <%= f.label :口コミタイトル %>
					<%= f.text_field :title, rows:'5', class: "form-control",id: "form-control",placeholder: "最も伝えたいポイントをここにお書きください" %>
				
			</div>
			<!-- おいしさ評価 -->
			<div class="form-group col-sm-10 col-xs-10 col-md-10" id="taste">
				<%= f.label :taste,'おいしさ ', class:'col-md-4 col-form-label' %>
				<%= f.hidden_field :taste, id: :taste_review_star %>
			</div>
			<!-- 健康評価 -->
			<div class="form-group col-sm-10 col-xs-10 col-md-10" id="healthy">
				<%= f.label :healthy,'健康評価', class:'col-md-4 col-form-label' %>
				<%= f.hidden_field :healthy, id: :healthy_review_star %>
			</div>	  
			<!-- コスパ評価 -->
			<div class="form-group col-sm-10 col-xs-10 col-md-10" id="cost_performance">
				<%= f.label :cost_performance,'コストパフォーマンス', class:'col-md-4 col-form-label' %>
				<%= f.hidden_field :cost_performance, id: :cost_performance_review_star %>
			</div>	
      <div class="col-sm-12">
					<%= f.text_area :content, rows:'5', class: "form-control", id: "form-area",placeholder: "気に入ったこと、気に入らなかったことは何ですか？" %>
			</div>
			<div class="col-sm-4 col-xs-4 col-md-3">
			    <div class="preview" style='overflow:hidden'>
							<div id="beforeUpload">
							</div>
							<img src="" id="croppedImage" class="col-sm-12 col-xs-12 col-md-12">
					</div>
				  <%= f.label :画像を投稿 %>
					<%= f.file_field :image, class: "comment_image",id: "comment_image" %>
				  <%= f.hidden_field :x, id:"dataX"%>
					<%= f.hidden_field :y, id:"dataY"%>
					<%= f.hidden_field :width, id:"dataWidth"%>
					<%= f.hidden_field :height, id:"dataHeight"%>
					<div class="modal fade" id="cropModal" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<div class="img-container">
										<img src="" id="imageModal" alt="picture">
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" id="btn-save" data-dismiss="modal">Save</button>
								</div>
							</div>
						</div>
					</div>
			</div>	
			<div class="form-group col-sm-3 col-xs-3 col-md-3">
				<%= f.hidden_field :item_code, value: chocolate.get_item_code() %>
			</div>				
	 </div>
	    <div class="col-sm-3 col-xs-3 col-md-3 new-comment-button">
	      <%= f.submit "投稿する", class: "btn btn-primary btn-base-1 mt-20 pull-right" , id: "button1" %>
	    </div>
  </div>

<% end %>
	    
    <script>
	
		// <!-- おいしさ評価javascript -->	
			$('#taste').raty({
				size     : 36,
				starOff:  '<%= asset_path('star-off.jpg') %>',
				starOn : '<%= asset_path('star-on.jpg') %>',
				starHalf: '<%= asset_path('star-half.jpg') %>',
				scoreName: 'comment[taste]',
				half: true,
			});
				// <!-- 健康評価javascript -->
			$('#healthy').raty({
				size     : 36,
				starOff:  '<%= asset_path('star-off.jpg') %>',
				starOn : '<%= asset_path('star-on.jpg') %>',
				starHalf: '<%= asset_path('star-half.jpg') %>',
				scoreName: 'comment[healthy]',
				half: true,
			});
			// <!-- コスパ評価javascript -->
			$('#cost_performance').raty({
				size     : 36,
				starOff:  '<%= asset_path('star-off.jpg') %>',
				starOn : '<%= asset_path('star-on.jpg') %>',
				starHalf: '<%= asset_path('star-half.jpg') %>',
				scoreName: 'comment[cost_performance]',
				half: true,
			});
		</script>  