<%= form_for [comment],remote: true do |f| %>
    <% if comment.errors.any? %>
			<h3><%= comment.errors.count %>error occurrence</h3>
			<ul>
				<% comment.errors.full_messages.each do |message| %>
				<li><%= message %></li><% end %>
		  </ul>
		<% end %>
	<div class="container">
   <div class="row">
			<div class="col-sm-10 col-xs-10 col-md-10">
			    <%= f.label :タイトル %>
					<%= f.text_field :title, rows:'5', class: "form-control",placeholder: "タイトルをここに" %>
			</div>
			<!-- おいしさ評価 -->
			<div class="form-group col-sm-10 col-xs-10 col-md-10" id="taste">
				<%= f.label :taste,'おいしさ ', class:'col-md-3 col-form-label' %>
				<%= f.hidden_field :taste, id: :review_star %>
			</div>
			<!-- 健康評価 -->
			<div class="form-group col-sm-10 col-xs-10 col-md-10" id="healthy">
				<%= f.label :healthy,'健康評価', class:'col-md-3 col-form-label' %>
				<%= f.hidden_field :healthy, id: :review_star %>
			</div>	  
			<!-- コスパ評価 -->
			<div class="form-group col-sm-10 col-xs-10 col-md-10" id="cost_performance">
				<%= f.label :cost_performance,'コストパフォーマンス', class:'col-md-4 col-form-label' %>
				<%= f.hidden_field :cost_performance, id: :review_star %>
			</div>	
      <div class="col-sm-10">
					<%= f.text_area :content, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
			</div>
			<div class="col-sm-4 col-xs-4 col-md-3">
				  <%= f.label :画像を投稿 %>
					<%= f.attachment_field :image, class: "comment_image" %>
			</div>	
			<div class="form-group col-sm-3 col-xs-3 col-md-3">
				<%= f.hidden_field :item_code, value: chocolate.get_item_code() %>
			</div>
	 </div>
  </div>
	<div class="new-comment-button">
	  <%= f.submit "投稿する", class: "btn btn-primary btn-base-1 mt-20 pull-right" %>
	</div>
<% end %>
	
      <script>
		// <!-- おいしさ評価javascript -->	
			$('#taste').raty({
				size     : 36,
				starOff:  '<%= asset_path('star-off.jpg') %>',
				starOn : '<%= asset_path('star-on.jpg') %>',
				starHalf: '<%= asset_path('star-half.jpg') %>',
				scoreName: 'comment[taste]',
				half: true,
			});
				// <!-- 健康評価javascript -->
			$('#healthy').raty({
				size     : 36,
				starOff:  '<%= asset_path('star-off.jpg') %>',
				starOn : '<%= asset_path('star-on.jpg') %>',
				starHalf: '<%= asset_path('star-half.jpg') %>',
				scoreName: 'comment[healthy]',
				half: true,
			});
			// <!-- コスパ評価javascript -->
			$('#cost_performance').raty({
				size     : 36,
				starOff:  '<%= asset_path('star-off.jpg') %>',
				starOn : '<%= asset_path('star-on.jpg') %>',
				starHalf: '<%= asset_path('star-half.jpg') %>',
				scoreName: 'comment[cost_performance]',
				half: true,
			});
			</script>  