<table class="col-xs-12">	
	 <tbody>
	    <div>
			<%= render 'comments/search' %>	
			</div>
	 <% @comments.each do |comment| %>
		
		<tr class="comment">
		  <td>
				<div class="comment-body bb">
						<div class="comment-avatar">
						<div class="avatar">
						<%= attachment_image_tag(comment.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %>
						</div>
				</div>
			</td>
			<td>
				<div class="comment-text">
					<div class="comment-author">
						<a href="#" class="link-author">
						<%= comment.user.name %></a>
					</div>
	    </td>		
			<td>					
				<span class="comment-meta">
					<span class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
				</span>
				</div>
			</td>
			<% unless current_user != comment.user %>
			<td><%= link_to comments_path(comment.id), method: :delete, remote: true  do %> <button class="btn btn-danger">destroy</button><% end %></td>
      <% end %>
		 
			<td>	
			<div class="item-image">
		
			  <%= image_tag(@image[comment.item_code].present? ? @image[comment.item_code] : "/assets/no_image.jpg", style: "width: 230px;height: 200px;display: inline-block;") %>
			 </div>
			</td>
			<td>	
			<div class="item-name">			
		  <%= @name[comment.item_code].present? ? @name[comment.item_code] : "商品名がありません"  %>
			</div>
			</td>
		</tr>
		<% end %>
	 </div>
	 <div class="yubi">
			<div id="back"><%= image_tag "arrow.png", size:'50x50' %></div>
	 </div>
	 </tbody>
</table>
	