<%= render 'admin/admin_header' %>
<div class="row" >
<div class="col-md-8 col-md-offset-2">
<h2>商品　新規登録画面</h2>

<%= form_for [:admin, @chocolate] do |f| %>
	<%= f.label :name, "商品名　" %>
	<%= f.text_field :name %><br>
	<%= f.label :content, "商品説明　" %>
	<%= f.text_area :content %><br>
	<%= f.label :brand_id, "ブランド" %>
  <%= f.collection_select :brand_id, Brand.all, :id, :name %><br>
	<%= f.label :price, "税抜価格" %>
	<p><%= f.text_field :price %>円</p><br>
	<%= f.label :image %>
	<%= f.attachment_field :image, class: "chocolate_image" %>


	<%= f.submit "新規登録", class: "btn btn-primary" %>
<% end %>
</div>
</div>