<h2 class="edit edit-title">ユーザー情報編集画面</h2>

<%= form_for(@user) do |f| %>

<!-- エラーメッセージ表示-->
<% if @user.errors.any? %>
	<h3><%= @user.errors.count %>つのエラーがあります</h3><!--エラーメッセ-->
	<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
<% end %>
<!-- エラーメッセージ表示-->

<table class="table edit">
  <tr>
 		<td class="field">
			<%= f.label :名前 %>
			<%= f.text_field :name, class: "name" %>
		</td>
 	</tr>
 	<tr>
 		<td class="field">
			<%= f.label :ニックネーム %>
			<%= f.text_field :nickname, class: "nickname" %>
		</td>
 	</tr>
 	<tr>
 		<td class="field">
      <%= f.label :画像 %>
	    <%= f.attachment_field :profile_image, class: "user_image" %>
		</td>
 	</tr>
 	<tr>
 		<td class="field introduction-edit-field">
			<%= f.label :紹介文%>
			<%= f.text_area :introduction, class: "introduction-edit" %>
		</td>
 	</tr>
 	<tr>
		<td class="field">
			<%= f.label :性別 %><br />
			<%= f.select :gender, [["女性"], ["男性"], ["不明"], ["秘密"]] %>
		</td>
 	</tr>
 	<tr>
		<td class="field">
			<%= f.label :年齢 %>
	 		<%= f.select :age, [["10代"], ["20代前半"], ["20代後半"], ["30代前半"],["30代後半"], ["40代前半"], ["40代後半"], ["50代前半"],["50代後半"], ["60代前半"], ["60代後半"], ["70代以上"]] %>
		</td>
 	</tr>
	<tr>
    <td class="actions">
			<%= f.submit '保存', :class => "ml-3 btn btn-info"%>
		</td>
	</tr>
 </table>
<% end %>








