<div class="container">
<div class="row">
	<div class="col-xs-12">
  <h2>Users</h2>
	<table class="table">
		<thead>
			<tr>
				<th>image</th>
				<th>name</th>
				<th colspan="3"></th>
	    </tr>
		</thead>

		<tbody>
			<% @followers.followers.each do |user| %>
			<tr>
				<td><%= attachment_image_tag(user, :profile_image, size:'200x200', fallback: "no_image.jpg", size:'200x200') %></td>
				<td><%= user.name%></td>
				
				<td>	<% @user ||= current_user %>
				<div class="stats">
					<a href="<%= following_user_path(@user) %>">
						<strong id="following" class="stat">
							<%= user.following.count %>
						</strong>
						following
					</a>
				</td>
				<td>	
					<a href="<%= followers_user_path(user) %>">
						<strong id="followers" class="stat">
							<%= user.followers.count %>
						</strong>
						followers
					</a>
				</div>
				</td>	
				<td>
        <td>
			  <% unless current_user.id == user.id %>
					<div id="follow_form">
					<% if current_user.following?(user) %>
					
					 <%= link_to "unfollow", unfollow_path(user.id), class: "btn btn-block btn-default", method: :post %> 
				
					<% else %>	
					
					 <%= link_to "follow", follow_path(user.id), class: "btn btn-block btn-default" ,method: :post %> 
					<% end %>	
					</div>
				<% end %>
				</td>
				</td>
			  <td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<!--users一覧 -->
	</div>
</div>
</div>