<div class="container">
<div class="row">
	<div class="col-xs-12 col-xs-12 col-md-12">
  <h2 class="follow-title">フォロー 一覧</h2>
	<table class="table">
		<thead>
			<tr>
				<th>image</th>
				<th>name</th>
				<th>follow</th>
				<th>follower</th>
				<th>follow button</th>
				<th>profile</th>
	    </tr>
		</thead>
   
		<tbody>
			<% @follows.following.each do |user| %>
			<tr>
				<td>
				<% if user.profile_image.attached? %>
					<%= image_tag user.profile_image.variant(resize:'100x100', format: 'jpeg', class: "img-circle pull-left profile-thumb") %>
				<% else %>
					<%= image_tag "no_image.jpg", size:'100x100'%>
				<% end %>
				</td>
				<td><%= user.nickname%></td>
				
				<td>	<% @user ||= current_user %>
					<a href="<%= following_user_path(@user) %>">
						<strong id="following" class="stat">
						  フォロー数
							<%= user.following.count %>
						</strong>
					</a>
				</td>
				<td>	
					<a href="<%= followers_user_path(user) %>">
						<strong id="followers" class="stat">
						  フォロワー数
							<%= user.followers.count %>
						</strong>
					</a>
				</td>	
        <td>
			  <% unless current_user.id == user.id %>
					<div id="follow_form">
					<% if current_user.following?(user) %>
					
					 <%= link_to "フォローを外す", unfollow_path(user.id), class: "btn btn-success", method: :post %> 
				
					<% else %>	
					
					 <%= link_to "フォローする", follow_path(user.id), class: "btn btn-block btn-default" ,method: :post %> 
					<% end %>	
					</div>
				<% end %>
				</td>
				<td><%= link_to "プロフィール", user, class: "user_#{user.id}" %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	</div>
</div>
</div>