<h2 class="user-index-title">ユーザー 一覧</h2>
<%= render 'searches/user_search' %>
<div class="container">
	<div class="row users">
		<% @users.each do |user| %>
		<div class="users-profile  col-xs-4 col-md-4">
			<div class="user-image">
				<% if user.profile_image.attached? %>
					<%= image_tag  (rails_blob_path(user.profile_image)), size:'120x120', format: 'jpeg', class: "img-circle pull-left profile-thumb" %>
				<% else %>
					<%= image_tag "no_image.jpg", size:'100x100'%>
				<% end %>
			</div>
			<div class="user-nickname">
			   <% if user.nickname.nil? %>
				   <a>ニックネームがありません </a>
				 <% else %>
				   <%= user.nickname %>   
				 <% end %>
			</div>
			<div><% user ||= current_user %></div>
			<div>
				<p id="followers" class="stat">
					フォロワー
					<span class="badge badge-pill badge-secondary"><%= user.followers.count %></span>
				</p>
			</div>
			<div class="stats">
				<p id="following" class="stat">
					フォロー
					<span class="badge badge-pill badge-secondary"><%= user.following.count %></span>
				</p>
			</div>
			<div>
				<% unless current_user.id == user.id %>
				<div class="follow"  id="follow_form">
					<% if current_user.following?(user) %>
					<%= link_to "フォローを外す", unfollow_path(user.id), class: "btn btn-secondary", method: :post %>
					<% else %>
					<%= link_to "フォローする", follow_path(user.id), class: "btn btn-success" ,method: :post %>
					<% end %>
				</div>
				<% end %>
			</div>
			<div class="profile"><%= link_to "プロフィールを見る", user, class: "user_#{user.id}" %></div>
		</div>
		<% end %>
	</div>
	<%= paginate @users %>
</div>
