 <table class="table table-striped ç">
 	<tr>
 		<td colspan="2" class="user-show-image">
		 <% if @user.profile_image.attached? %>
 			<%= image_tag (rails_blob_path(@user.profile_image)), size:'150x150', format: 'jpeg', class: "img-circle pull-left profile-thumb" %>
		 <% else %>
      <%= image_tag "no_image.jpg", size:'150x150'%>
		 <% end %>
 		</td>
 	</tr>
 	<tr>
 		<td>ニックネーム</td>
 		<td><%= current_user.nickname %></td>
 	</tr>
 	<tr>
 		<td>性別</td>
 		<td><%= current_user.gender %></td>
 	</tr>
 	<tr>
 		<td>年齢</td>
 		<td><%= current_user.age %></td>
 	</tr>
 	<tr>
 		<td>自己紹介</td>
 		<td><%= current_user.introduction %></td>
 	</tr>
 </table>

 <table class="table  table-striped user-follow-table">
 	<tbody>		
 		<tr>
 			<td>
 				<% @user ||= current_user %>
 				<div class="stats">
 					<strong id="following" class="stat">	
 						<%= link_to follows_users_path(current_user.id) do %>フォロー
 						<p class="badge badge-pill badge-secondary"><%= current_user.following.count %></p>
						<% end %>
 					</strong>
 			</td>
 		</tr>
 		<tr>
 			<td>
 				<strong id="followers" class="stat">
 					<%= link_to followers_user_path(current_user.id) do %>
 					フォロワー
					 <p class="badge badge-pill badge-secondary"><%= current_user.followers.count %></p>
					 <% end %>
 				</strong>
 			</td>
 		</tr>
		<tr>
 			<td>
 				<strong id="favo-choco" class="stat">
 					<%= link_to favorite_chocolates_user_path(@user.id) do %>
 				  お気に入り商品
					 <p class="badge badge-pill badge-secondary"><%= @user.favorites.count %></p>
					 <% end %>
 				</strong>
 			</td>
 		</tr>
		<tr>
 			<td>
 			<% if @user == current_user && @user.email != "test@example.com" %>
					<p><%= link_to "プロフィールを編集", edit_user_path(@user), class: "btn btn-block btn-default glyphicon glyphicon-wrench" %></p>
			<% elsif current_user.following?(@user) %>
					<%= link_to "フォローを外す", unfollow_path(@user.id), class: "btn btn-success", method: :post %>
			<% else %>
					<%= link_to "フォローする", follow_path(@user.id), class: "btn btn-success" ,method: :post %>
			<% end %>
 			</td>
 		</tr>
 	</tbody>
 </table>