 <table class="table">
		<tr>
		<td>
		<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %>
		</td>
	  </tr>

		<tr>
			<td>name</td>
			<td><%= current_user.name %></td>
		</tr>

		<tr>
			<td>introduction</td>
			<td><%= current_user.comment %></td>
		</tr>
		
  </table>
			<% if @user == current_user %>
				
				
				<p><%= link_to "", edit_user_path(@user), class: "btn btn-block btn-default glyphicon glyphicon-wrench" %></p>
					
				<% elsif current_user.following?(@user) %>

					<%= link_to "unfollow", unfollow_path(@user.id), class: "btn btn-block btn-default", method: :post %> 

				<% else %>	

					<%= link_to "follow", follow_path(@user.id), class: "btn btn-block btn-default" ,method: :post %> 
				
			
			<% end %>

		<table class="table">
		<tbody>
			<tr>
			<td>
					<% @user ||= current_user %>
						<div class="stats">
						
								<strong id="following" class="stat">
								following
									<%= link_to current_user.following.count, follows_users_path(current_user.id) %>
								</strong>
								
			</td>
			</tr>



			<tr>
			<td>
					<strong id="followers" class="stat">
					followers
					<%= link_to user.followers.count, followers_users_path(current_user.id) %>
					</strong>
					
			</td>
			</tr>
		</tbody>
		</table>

