<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  
  <title>ホーム画面</title>
</head>
<body>
    
    
    <div class="container">
        <div class="theTarget">
          <%= image_tag 'チョコ1' %>
          <%= image_tag 'チョコ2' %>
          <%= image_tag 'チョコ3' %>
          <%= image_tag 'チョコ4' %>
          <%= image_tag 'チョコ5' %>
          <%= image_tag 'チョコ6' %>
          <%= image_tag 'チョコ7' %>
        </div>
    </div>
 
</body>
</html>
