   <section class="fullwidth-block area-padding-bottom">
       <div class="container-fluid">
           <div class="row">
               <div class="col-md-6 col-lg-6 col-xl-6">
                   <div class="single-blog">
                       <div class="thumb">
                           <%= image_tag 'woman1.jpg' %>
                           <div class="short_details short_details_choco">
                               <div class="d-block">
                                   <p class="title1">ChoCo BoXとは</p>
                                   <p class="title2">美味しさ, 健康, コスパ</p>
                                   <p class="title3">３点からあなたの求めている</p>
                                   <p class="title3">チョコレートを探せます</p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-md-6 col-lg-6 col-xl-6">
                   <div class="single-blog">
                       <div class="thumb">
                           <%= image_tag "woman2.jpg"%>

                           <div class="short_details short_details_kutikomi">
                               <div class="icon">
                               </div>
                               <div class="d-block">
                                   <p class="title2">リアルな口コミ</p>
                                   <p class="title3">チョコ好きの人たちが本音で語ります</p>
                               </div>
                               <div class="meta-bottom d-flex justify-content-center">
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-md-6 col-lg-6 col-xl-6">
                   <div class="single-blog">
                       <div class="thumb">
                           <%= image_tag "man1.jpg"%>

                           <div class="short_details short_details_ranking">
                               <div class="d-block">
                                   <p class="title2">ランキング&検索機能</p>
                                   <h5 class="title3">あなたの知らないチョコを見つけられるかも！</h5>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-md-6 col-lg-6 col-xl-6">
                   <div class="single-blog">
                       <div class="thumb">
                           <%= image_tag "child1.jpg"%>

                           <div class="short_details short_details_meigen">
                               <div class="d-block">
                                   <p class="title2">チョコレート格言</p>
                                   <a class="title">チョコレートに関する格言はたくさん！！</a>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <div class="jumbotron">
       <div class="jumbotron jumbotron-extend">

           <p class="web-title">ChoCO BoX</p>
           <p>
             <%= link_to "ChoCoBoXを始める", new_user_registration_path ,class: "btn btn-primary my-2"%>
           </p>

           <div class="container">
               <div class="theTarget">
                   <%= image_tag 'チョコ1.jpg' %>
                   <%= image_tag 'チョコ2.jpg' %>
                   <%= image_tag 'チョコ3.jpg' %>
                   <%= image_tag 'チョコ4.jpg' %>
                   <%= image_tag 'チョコ5.jpg' %>
                   <%= image_tag 'チョコ6.jpg' %>
                   <%= image_tag 'チョコ7.jpg' %>
               </div>
           </div>
       </div>
   </div>

   <div class="yubi">
       <div id="back"><%= image_tag "arrow.png", size:'50x50' %></div>
   </div>