   <section class="fullwidth-block area-padding-bottom">
       <div class="container">
           <div class="row">
               <div class="col-md-6 col-lg-6 col-xl-6">
                   <div class="single-blog">
                       <div class="thumb">
                           
                           <div class="short_details short_details_choco">
                               <div class="d-block">
                                   <p class="title1">ChoCo BoXとは</p>
                                   <p class="title3"><i class="far fa-check-circle"></i> メンバー制のチョコレートクチコミサイトです</p>
                                   <p class="title3"><i class="far fa-check-circle"></i> 様々なランキング形式から<br>チョコレートを見つけられます</p> 
                                   <p class="title3"><i class="far fa-check-circle"></i> 健康、コスパ、おいしさの3点で<br>チョコレートを評価できます</p>         
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-md-6 col-lg-6 col-xl-6">
                   <div class="single-blog">
                       <div class="thumb">
                           <div class="short_details short_details_kutikomi">
                               <div class="d-block">
                                  <div class="top-choco1"><%= image_tag "woman2.jpg"%></div> 
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-md-6 col-lg-6 col-xl-6">
                   <div class="single-blog">
                       <div class="thumb">
                           <div class="top-choco2"><%= image_tag "ホームチョコレート.jpg"%></div>
                       </div>
                   </div>
               </div>
               <div class="col-md-6 col-lg-6 col-xl-6">
                   <div class="single-blog">   
                        <div class="short_details short_details_meigen">
                            <div class="b-block">
                                <p class="title3 top-ranking"><i class="fas fa-thumbs-up"></i> 『いいねランキング』</p>
                                <p class="title3 top-ranking"><i class="far fa-grin"></i> 『健康ランキング』</p>
                                <p class="title3 top-ranking"><i class="fas fa-utensils"></i> 『おいしさランキング』</p>
                                <p class="title3 top-ranking"><i class="fas fa-money-check"></i>『コスパランキング』</p>
                                <p class="title3 top-ranking"><i class="far fa-comments"></i> 『口コミ一覧』</p>
                                <p class="title3 top-content"><i class="fas fa-heart"></i> 好きなチョコを見つけよう！</p>
                            </div>
                        </div>                
                   </div>
               </div>
           </div>
       </div>
   </section>
   <div class="col-md-12 col-lg-12 col-xl-12">
       <div class="jumbotron-extend">
           <p class="web-title">ChoCo BoX</p>
           <p class="start-button">
             <%= link_to "ChoCoBoXメンバーに登録する", new_user_registration_path ,class: "btn start-button chocobox-start" %>
           </p>
           <div class="container">
               <div class="theTarget">
                   <%= image_tag 'choco-top1.jpg',class: "topImage" %>
                   <%= image_tag 'choco-top2.jpg',class: "topImage"  %>
                   <%= image_tag 'choco-top3.jpg',class: "topImage"  %>
                   <%= image_tag 'choco-top4.jpg',class: "topImage"  %>
                   <%= image_tag 'choco-top5.jpg',class: "topImage"  %>
               </div>
           </div>
       </div>
   </div>
    <div class="container ranking">
        <h2 class="toppage-oisisa">ChoCoBoXユーザーが選ぶ<br>おいしさランキング</h2>
        <%= render 'chocolates/taste', choco: @chocolate, items: @items, item_code: @item_code %>
    </div>
    <div class="container ranking">
        <h2 class="toppage-oisisa">ChoCoBoXユーザーが選ぶ<br>いいね数ランキング</h2>
        <%= render 'chocolates/favorite', choco: @chocolate, chocolates: @chocolates, item_code: @item_code %>
    </div>
    <div class="yubi">
        <div id="back"><%= image_tag "arrow.png", size:'50x50' %></div>
    </div>