   <section class="fullwidth-block area-padding-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-5">
                    <div class="single-blog">
                        <div class="thumb">   
                          <%= image_tag 'woman1' %>
                        </div>
                        <div class="short_details">
                            <div class='meta-top d-flex'>
                                <h2>ChoCO BoXとは</h2>
                            </div>
                            <a class="d-block-a">
                                <h3>美味しさ, 健康, コスパ</h3>
                                <h3>３点からあなたの求めている</h3>
                                <h3>チョコレートを探せます</h3>
                            </a>
                            <div class="meta-bottom d-flex" >
                                
                            </div>
                        </div>
                    </div>    
                </div>

                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="single-blog">
                        <div class="thumb">
                          <%= image_tag "woman2"%>
                        </div>
                        <div class="short_details text-center ">

                            <a class="d-block">
                                <h3>リアルな口コミが見られる</h3>
                            </a>
                            <div class="meta-bottom d-flex justify-content-center">
                              
                            </div>
                        </div>
                    </div>    
                </div>

                <div class="col-lg-12 col-xl-3">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                            <div class="single-blog">
                                <div class="thumb">
                                   <%= image_tag "man1"%>
                                </div>
                                <div class="short_detailsone">

                                    <div class="meta-top d-flex justify-content-center">
                                        <h3>ランキング&検索で</h3>
                                        <h3>チョコレートを探せる</h3>
                                      
                                    </div>
                                    <a class="d-block">
                                      
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                            <div class="single-blog">
                                <div class="thumb">
                                   <%= image_tag "child1"%>
                                </div>
                                <div class="short_details">

                                    <div class="meta-top d-flex justify-content-center">
                                    
                                        <h4>あなたの求めているチョコレートを</h4>
                                        <h4>見つけましょう</h4>
                                    
                                </div>
                            </div>    
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <div class="jumbotron">
     <div class="jumbotron jumbotron-extend">
   

    <h1>ChoCO  BoX</h1>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">あなたにピッタリのチョコレートを見つけにいこう！！</a></p>
    
    <div class="container">
        <div class="theTarget">
          <%= image_tag 'チョコ1' %>
          <%= image_tag 'チョコ2' %>
          <%= image_tag 'チョコ3' %>
          <%= image_tag 'チョコ4' %>
          <%= image_tag 'チョコ5' %>
          <%= image_tag 'チョコ6' %>
          <%= image_tag 'チョコ7' %>
        </div>
    </div>
   </div>
  </div>

