   <section class="fullwidth-block area-padding-bottom">
       <div class="container">
           <div class="row">
               <div class="col-md-6 col-lg-6 col-xl-6">
                   <div class="single-blog">
                       <div class="thumb">
                           
                           <div class="short_details short_details_choco">
                               <div class="d-block">
                                   <p class="title1">ChoCo BoXとは</p>
                                   <p class="title3"><i class="far fa-check-circle"></i> チョコレートの口コミサイトです</p>
                                   <p class="title3"><i class="far fa-check-circle"></i> 様々なランキング形式から<br>チョコレートを見つけられます</p> 
                                   <p class="title3"><i class="far fa-check-circle"></i> 健康、コスパ、おいしさの3点で<br>チョコレートを評価できます</p>         
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-md-6 col-lg-6 col-xl-6">
                   <div class="single-blog">
                       <div class="thumb">
                           <%= image_tag "woman2.jpg"%>

                           <div class="short_details short_details_kutikomi">
                               <div class="icon">
                               </div>
                               <div class="d-block">
                                   
                               </div>
                               <div class="meta-bottom d-flex justify-content-center">
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-md-6 col-lg-6 col-xl-6">
                   <div class="single-blog">
                       <div class="thumb">
                           <%= image_tag "ホームチョコレート.jpg"%>

                           <div class="short_details short_details_ranking">
                               <div class="d-block">
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-md-6 col-lg-6 col-xl-6">
                   <div class="single-blog">   
                        <div class="short_details short_details_meigen">
                            <div class="b-block">
                                <p class="title3 top-ranking"><i class="fas fa-thumbs-up"></i> 『いいねランキング』</p>
                                <p class="title3 top-ranking"><i class="far fa-grin"></i> 『健康ランキング』</p>
                                <p class="title3 top-ranking"><i class="fas fa-utensils"></i> 『おいしさランキング』</p>
                                <p class="title3 top-ranking"><i class="fas fa-money-check"></i>『コスパランキング』</p>
                                <p class="title3 top-ranking"><i class="far fa-comments"></i> 『口コミ一覧』</p>
                                <p class="title3 top-content"><i class="fas fa-heart"></i> 好きなチョコレートを見つけましょう！！</p>
                            </div>
                        </div>                
                   </div>
               </div>
           </div>
       </div>
   </section>
   <div class="">
       <div class="jumbotron-extend">
           <p class="web-title">ChoCo BoX</p>
           <p class="start-button">
             <%= link_to "ChoCoBoXを始める", new_user_registration_path ,class: "btn start-button chocobox-start" %>
           </p>
           <div class="container">
               <div class="theTarget">
                   <%= image_tag 'チョコ1.jpg' %>
                   <%= image_tag 'チョコ2.jpg' %>
                   <%= image_tag 'チョコ3.jpg' %>
                   <%= image_tag 'チョコ4.jpg' %>
                   <%= image_tag 'チョコ5.jpg' %>
                   <%= image_tag 'チョコ6.jpg' %>
               </div>
           </div>
       </div>
   </div>
    <div class="container ranking">
        <h2 class="toppage-oisisa">おいしさランキング</h2>
        <%= render 'chocolates/taste_ranking', choco: @chocolate, items: @items, item_code: @item_code %>
    </div>
    <div id="comment-all">
	  <%= render 'comments/new_comment', comments: @comments, name: @name, image: @image %>
	</div>
    <div class="yubi">
        <div id="back"><%= image_tag "arrow.png", size:'50x50' %></div>
    </div>