 <div class="container sign_in">
     <div class="main-visual">
         <div class="row">
             <div class=" col-xs-12 col-sm-12 col-md-12">
                 <%= flash[:error] %>
                 <div class="form-user style-1 rounded has-shadow-1">
                     <div class="form-body">

                         <div class="row">
                             <div class="col-xs-12 col-sm-12">
                                 <div class="text-center">
                                     <h4>メールアドレスと<br>パスワードを入力してください。</h4>
                                 </div>
                             </div>
                         </div>

                         <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                         <div class="form-group has-icon">
                             <label class="control-label sr-only" for="inputEmail">Email</label>
                             <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"メールアドレス"%>
                             <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
                         </div>
                         <div class="form-group has-icon">
                             <label class="control-label sr-only" for="inputPassword">Password</label>
                             <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
                             <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
                         </div>
                         <div id="login-button">
                             <%= f.submit "ログイン", class:"btn btn-primary btn-block btn-base-1 mt-20"%>
                         </div>
                         <% end %>
                         <div class="guest">
                            <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "btn btn-danger" %>
                        </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>

 </div>