<%= render 'admin/admin_header' %>
<div class="col-md-8 col-md-offset-2">
<h1>会員詳細</h1>
<p>顧客ID      <%= @user.id%>
	<%if @user.user_status == '有効'%>
		<p>有効会員</p>
		<% else %>
		<p>退会済み</p>
	<% end %>
</p>
<p>氏名        <%= @user.name%></p>
<p>ニックネーム      <%= @user.nickname%></p>
<p>メールアドレス  <%= @user.email%></p>
<td><%= link_to '編集する', edit_admin_user_path(@user), class: "btn btn-primary" %></td>
</div>