<div class="container">
  <div>
	<div class="row favo_row">
		<% chocolates.each do |chocolate| %>
		<% if chocolate.first.present? %>
		<div class="favo-ranking col-xs-10 col-md-9">
			<div class="favo_image">
				  <%= image_tag(chocolate.first["mediumImageUrls"][0].present? ? chocolate.first["mediumImageUrls"][0] : "/assets/no_image.jpg", style: "width: 280px;height: 240px;display: inline-block;") %>
			</div>
			<div class="favo_name">
				<%= chocolate.first["itemName"] %></th>
			</div>
			<div class="choco_price">
				<% if chocolate.first["itemPrice"].present? %>
				<a class="choco_price">¥<%= chocolate.first["itemPrice"]%>円</a>
				<% else %>
				<a class="choco_price">価格データなし</a>
				<% end %>
			</div>
			<div>
				<% if chocolate.first["itemCode"].present? %>
				<%= link_to 'この商品に口コミを投稿する', chocolate_path(chocolate.first["itemCode"]), class: 'btn btn-default kutikomi-post' %>
				<% else %>
				<%= link_to 'この商品に口コミを投稿する', home_sorry_path, class: 'btn btn-default kutikomi-post' %>
				<% end %>
			</div>
			<div class="favo">
				<a>いいねの数
				<%= Favorite.where(item_code: chocolate.first["itemCode"]).count %></a>
			</div>
		</div>
		<% end %>	
		<% end %>
	</div>
</div>