<div class="container">
	<h3>いいね数  ランキング</h3>
	<div class="row favo_row">
		<% @items.each do |chocolate| %>
		<div class="favo-ranking col-xs-10 col-md-9">
			<div class="favo_image">
				<% if chocolate["Items"].blank? %>
			  	<%= image_tag("/assets/no_image.jpg", style: "width: 280px;height: 240px;display: inline-block;") %>
				<% else %>
			  	<%= image_tag(chocolate["Items"][0]["Item"]["mediumImageUrls"][0]["imageUrl"].present? ? chocolate["Items"][0]["Item"]["mediumImageUrls"][0]["imageUrl"] : "/assets/no_image.jpg", style: "width: 280px;height: 240px;display: inline-block;") %>
				<% end %>
			</div>
			<div class="favo_name">
				<%= chocolate["Items"][0]["Item"]["itemName"] %></th>
			</div>
			<div class="choco_price">
				<% if chocolate["Items"][0]["Item"]["itemPrice"].present? %>
				<a class="choco_price">¥<%= chocolate["Items"][0]["Item"]["itemPrice"]%>円</a>
				<% else %>
				<a class="choco_price">価格データなし</a>
				<% end %>
			</div>
			<div>
				<% if chocolate["Items"][0]["Item"]["itemCode"].present? %>
				<%= link_to 'この商品に口コミを投稿する', chocolate_path(chocolate["Items"][0]["Item"]["itemCode"]), class: 'btn btn-default kutikomi-post' %>
				<% else %>
				<%= link_to 'この商品に口コミを投稿する', home_sorry_path, class: 'btn btn-default kutikomi-post' %>
				<% end %>
			</div>
			<div class="favo">
				<a>いいねの数
				<%= Favorite.where(item_code: chocolate["Items"][0]["Item"]["itemCode"]).count %></a>
			</div>
		</div>	
		<% end %>
	</div>

	<div class="page">
		<% if @items.present? %>
		<%= paginate @items, class: "paginate" %>
		<% end %> 
	</div>

	<div>
		<%= form_tag(ranking_chocolates_path,method:"get") do %>
		<%= select_tag 'range', options_for_select([["売れ筋ランキング 1~30位","1"], ["売れ筋ランキング 31~60位","2"], ["売れ筋ランキング 61~90位","3"], ["売れ筋ランキング 91~120位","4"]],:selected=>"1") %>
		<%= submit_tag "検索" %>
		<% end %>
	</div>

	<div class="yubi">
		<div id="back"><%= image_tag "arrow.png", size:'50x50' %></div>
	</div>
</div>
