<div class="container">
	<h3>商品一覧</h3>
	<h4><%= @range %> ページ</h4>
	<div class="ranking-search-bar">
	  <%= render 'chocolates/ranking' %>
	</div>
	<div class="row">	
	<% @last_chocolates.each_with_index do |chocolate, index| %>
		<div class="rakuten_ranking  col-xs-4 col-sm-4 col-md-4">
		  <div>
				第<%= index+1 %>位
			</div>
			<div>
				<%= image_tag(chocolate.medium_image_urls[0], style: "max-width: 100%;height: auto;display: inline-block;") %>
			</div>
			<div><%= chocolate.name %></div>
			<div class="choco_price">¥<%= chocolate.price %></div>
			<div>
				<% if chocolate["itemCode"].present? %>
				<%= link_to '口コミを投稿する', chocolate_path(chocolate["itemCode"]), class: "btn btn-default" %>
				<% else %>
				<%= link_to '口コミを投稿する', home_sorry_path, class: "btn btn-default" %>
				<% end %>
			</div>
			
			<div id="<%= "like-link-#{chocolate["itemCode"].delete(":")}" %>">
					<%= render 'favorites/index', chocolate: chocolate, index: index %>
			</div>
		</div>	
		<% end %>
		<div>
		 <%= render 'chocolates/ranking' %>
	  </div>
	</div>

	<div class="yubi">
		<div id="back"><%= image_tag "arrow.png", size:'50x50' %></div>
	</div>
</div>

