<h1>チョコサーチ</h1>
<div class='content'>
  <div id="search-box">
    <%= form_tag('search', method: :get) do %>
    <%= text_field_tag :chocolate, "",  id: "chocolate_id", name: "keyword", placeholder: "好きなチョコレートを入力してください", style: "width: 200px;"%>
    <button class="btn btn-warning">検索</button>
    <% end %>
    <div id="wrapper">
      <div class="container ">
        <h1 class="chocosearch">チョコサーチ</h1>
        <div class="row">
          <div class='search col-xs-10 col-sm-10 col-md-10'>
            <div id="search-box">
              <%= form_tag('search', method: :get) do %>
              <%= text_field_tag :chocolate, "",  id: "chocolate_id", name: "keyword", placeholder: "好きなチョコレートを入力してください", class: "search-holder", style: "width: 300px;"%>
              <button class="btn btn-warning">検索</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div id='chocolate_list'>
        <% if @items.present? %>
        <% if @items.nil? %>
        <div class="container search-index">
          <div class="row">
            <div class=" searches col-xs-4 col-sm-4 col-md-4">
              <div class="search-visual"></div>
            </div>
          </div>
        </div>
        <% else %>
        <div class="container search-index">
          <h3>商品一覧</h3>
          <div class="row">
            <% @items.each do |good| %>
            <div class="list">
              <% if good.medium_image_urls[0] %>

              <div class="list col-xs-4 col-sm-4 col-md-4">

                <div class="choco-image">
                  <% if good.medium_image_urls[0] %>
                  <%= link_to (image_tag(good.medium_image_urls[0], style: "width: 120px;height: 100px;display: inline-block;")) %>
                  <% else %>
                  <%= link_to (image_tag(no_image.jpg, style: "width: 120px;height: 100px;display: inline-block;")) %>
                  <%end%></br>

                  <%= good.name.present? ? good.name : "商品名がありません"  %>
                  ¥ <%= good.price.present? ? good.price : "-"  %>

                  <%= link_to "商品に口コミを投稿する",chocolate_path(good.params["itemCode"]), class: "btn btn-primary" %>
                  <% else %>
                  <%= link_to (image_tag(no_image.jpg, style: "width: 130px;height: 100px;display: inline-block;")) %>
                  <%end%>
                </div>

                <div><%= good.name.present? ? good.name : "在庫切れです" %></div>

                <div class="choco_price"> ¥ <%= good.price.present? ? good.price : "-" %></div>

                <div>
                  <%= link_to "商品に口コミを投稿する",chocolate_path(good.params["itemCode"]), class: "btn btn-primary"%>
                </div>


              </div>
              <% end %>
              <% end %>

            </div>
          </div>
          <% end %>
          <div class="page">
            <% if @items.present? %>
            <%= paginate @items, class: "paginate" %>
            <% end %>
            <div class="yubi">
              <div id="back"><%= image_tag "arrow.png", size:'50x50' %></div>
            </div>
          </div>
        </div>
        <div class="yubi">
          <div id="back"><%= image_tag "arrow.png", size:'50x50' %></div>
        </div>
      </div>