<html>
<body>

   <body class="col-md-8 col-md-offset-2">
    <h2>商品 詳細画面</h2>
        <table class="table">
			<tbody>
		    <tr>
            <% pp @chocolate %>
				<td>
                <%= image_tag(@chocolate["Items"][0]["Item"]["mediumImageUrls"][0]["imageUrl"], style: "width: 230px;height: 200px;display: inline-block;") %>
                </td>
                <td>
                <h3>メーカー名</h3>
                </td>
                <td>
                <h3><%= @chocolate["Items"][0]["Item"]["itemName"] %></h3>
                </td>
                <td>
                <h3>価格<%= @chocolate["Items"][0]["Item"]["itemPrice"]%>円</h3>
                </td>
                <td>
                <%= render 'favorites/index', chocolates: @chocolates, chocolate: @chocolate %>
                <td>
            </tr>
            </tbody>
        </table>  
        <div id='comment_area'>
                <%= render 'comments/index', chocolates: @chocolates, chocolate: @choco %>
        </div>
                    
        <div  id="comment_form">
                <%= render 'comments/newform', chocolates: @chocolates,  chocolate: @choco, comment: @comment, taste: @taste %>
        </div>
        <div class="yubi">
        <div id="back"><%= image_tag "arrow.png", size:'50x50' %></div>
        </div>
  </div>
</body>
</html>        

